.bar-primary
  .title Sign in form
.sign-in-wrapper
  = form_for(@user, html: { class: 'sign-in' }) do |f|
    .row
      .input-field
        = f.text_field 'login_name'
        = f.label 'login_name'
    .row
      .input-field
        = f.text_field 'password'
        = f.label 'password'
    = f.submit 'sign in with your github credentials', class: 'waves-effect waves-light btn-large submit-btn'
